@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div#react-container {
  height: 100%;
  overflow: hidden
}

body {
  margin: 0;
  padding: 0
}

#project-info {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: .1em .5em;
    font-family: "Shadows Into Light", sans-serif;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.5);
    z-index: 99
}