<div class="row">
    <div class="col-12">
        <span class="form__title">Restaurants</span>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <input class="input" id="filterElement" name="filterElement" type="text" placeholder="Filter restaurants by name">
    </div>
    <div class="col-5">
        <select class="select" id="sortByElement">
            <option value="bestMatch">Best Match</option>
            <option value="newest">Newest</option>
            <option value="ratingAverage">Rating Average</option>
            <option value="distance">Distance</option>
            <option value="popularity">Popularity</option>
            <option value="averageProductPrice">Average Product Price</option>
            <option value="deliveryCosts">Delivery Costs</option>
            <option value="minCost">Min Cost</option>
            <option value="alphabetical">Alphabetical</option>
        </select>
    </div>
    <div class="col-2">
        <div class="control">
            <input class="control__input" id="sortTypeElement" type="checkbox">
            <label class="control__label" for="sortTypeElement">Reverse</label>
        </div>
    </div>
</div>
