@charset "UTF-8";
/**
 * ==========================================================================
 * Restaurant Stylesheet
 * ==========================================================================
 *
 * @author Emre Piskin <piskin.emre@gmail.com>
 */
/**
 * ==========================================================================
 * sass-mq
 * ==========================================================================
 * A Sass mixin that helps you compose media queries in an elegant way
 * @url https://github.com/sass-mq/sass-mq
 */
body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  @media (min-width: 20em) {
    body:before {
      content: "mobile ≥ 320px (20em)"; } }
  @media (min-width: 30em) {
    body:before {
      content: "mobileLandscape ≥ 480px (30em)"; } }
  @media (min-width: 46.25em) {
    body:before {
      content: "tablet ≥ 740px (46.25em)"; } }
  @media (min-width: 61.25em) {
    body:before {
      content: "desktop ≥ 980px (61.25em)"; } }
  @media (min-width: 81.25em) {
    body:before {
      content: "wide ≥ 1300px (81.25em)"; } }

/**
 * ==========================================================================
 * Formbase
 * ==========================================================================
 * Better default styles for common input elements
 * @url https://github.com/electerious/formbase
 */
.input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0.6666666667rem;
  background: #fff;
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  outline: none;
  resize: vertical;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease; }
  .input[disabled] {
    border-color: #c8c8c8;
    background-color: #f2f2f2;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: not-allowed; }
  .input:focus {
    border-color: #0c69d6; }

.control {
  margin: 0 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .control__input {
    position: absolute;
    opacity: 0;
    pointer-events: none; }
  .control__label {
    display: block;
    position: relative;
    padding-left: -webkit-calc(20px + 0.6666666667rem);
    padding-left: calc(20px + 0.6666666667rem);
    will-change: transform; }
    .control__label::before, .control__label::after {
      content: '';
      position: absolute;
      top: -webkit-calc(50% - 10px);
      top: calc(50% - 10px);
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid transparent; }
    .control__label::before {
      content: '';
      position: absolute;
      top: -webkit-calc(50% - 10px);
      top: calc(50% - 10px);
      left: 0;
      width: 20px;
      height: 20px;
      border-color: #bbb;
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
      background: #fff;
      background-size: 0; }
    .control__label::after {
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      will-change: transform; }
  .control__input[type='radio'] + .control__label::before {
    border-radius: 100%; }
  .control__input[type='radio'] + .control__label::after {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M256%2C464c114.9%2C0%2C208-93.1%2C208-208c0-114.9-93.1-208-208-208C141.1%2C48%2C48%2C141.1%2C48%2C256C48%2C370.9%2C141.1%2C464%2C256%2C464z%22/%3E%3C/svg%3E"); }
  .control__input[type='checkbox'] + .control__label::after {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M461.6%2C109.6l-54.9-43.3c-1.7-1.4-3.8-2.4-6.2-2.4c-2.4%2C0-4.6%2C1-6.3%2C2.5L194.5%2C323c0%2C0-78.5-75.5-80.7-77.7c-2.2-2.2-5.1-5.9-9.5-5.9c-4.4%2C0-6.4%2C3.1-8.7%2C5.4c-1.7%2C1.8-29.7%2C31.2-43.5%2C45.8c-0.8%2C0.9-1.3%2C1.4-2%2C2.1c-1.2%2C1.7-2%2C3.6-2%2C5.7c0%2C2.2%2C0.8%2C4%2C2%2C5.7l2.8%2C2.6c0%2C0%2C139.3%2C133.8%2C141.6%2C136.1c2.3%2C2.3%2C5.1%2C5.2%2C9.2%2C5.2c4%2C0%2C7.3-4.3%2C9.2-6.2L462%2C121.8c1.2-1.7%2C2-3.6%2C2-5.8C464%2C113.5%2C463%2C111.4%2C461.6%2C109.6z%22/%3E%3C/svg%3E"); }
  .control__input[type='radio'][disabled] + .control__label,
  .control__input[type='checkbox'][disabled] + .control__label {
    cursor: not-allowed; }
  .control__input[type='radio'][disabled] + .control__label::before,
  .control__input[type='checkbox'][disabled] + .control__label::before {
    border-color: #c8c8c8;
    background-color: #f2f2f2;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .control__input:checked + .control__label::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 1rem;
  padding: 0.6666666667rem;
  width: 100%;
  background: #fff;
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M256%2C298.3L256%2C298.3L256%2C298.3l174.2-167.2c4.3-4.2%2C11.4-4.1%2C15.8%2C0.2l30.6%2C29.9c4.4%2C4.3%2C4.5%2C11.3%2C0.2%2C15.5L264.1%2C380.9c-2.2%2C2.2-5.2%2C3.2-8.1%2C3c-3%2C0.1-5.9-0.9-8.1-3L35.2%2C176.7c-4.3-4.2-4.2-11.2%2C0.2-15.5L66%2C131.3c4.4-4.3%2C11.5-4.4%2C15.8-0.2L256%2C298.3z%22/%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: -webkit-calc(100% - 0.6666666667rem) center;
  background-position: calc(100% - 0.6666666667rem) center;
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  outline: 0; }
  .select[disabled] {
    border-color: #c8c8c8;
    background-color: #f2f2f2;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: not-allowed; }
  .select:focus {
    border-color: #0c69d6; }
  .select::-ms-expand {
    display: none; }

/**
 * Custom Formbase inputs
 * ==========================================================================
 * Formbase: Better default styles for common input elements
 * @url https://github.com/electerious/formbase
 */
.select,
.input {
  min-height: 42px; }

.input {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M504.2%20466.4%20378%20339.6C410.5%20302.4%20428.2%20255.5%20428.2%20206.7%20428.2%2092.7%20332.2%200%20214.1%200%2096.1%200%200%2092.7%200%20206.7c0%20114%2096.1%20206.7%20214.1%20206.7%2044.3%200%2086.6-12.9%20122.7-37.4l127.2%20127.7c5.3%205.3%2012.5%208.3%2020.1%208.3%207.3%200%2014.1-2.7%2019.4-7.5%2011.1-10.3%2011.5-27.4%200.8-38.1zM214.1%2053.9c87.3%200%20158.3%2068.5%20158.3%20152.8%200%2084.3-71%20152.8-158.3%20152.8-87.3%200-158.3-68.5-158.3-152.8%200-84.3%2071-152.8%20158.3-152.8z%22%20stroke-width%3D%229%22/%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: -webkit-calc(100% - 0.6666666667rem) center;
  background-position: calc(100% - 0.6666666667rem) center; }

.control {
  padding: .6rem .8rem; }

/**
 * ==========================================================================
 * Simple Grid
 * ==========================================================================
 * Simplistic 12-column grid
 * @author Emre Piskin <piskin.emre@gmail.com>
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

[class*="col-"] {
  float: left; }

.row::after {
  content: "";
  clear: both;
  display: block; }

/* --- For mobile: Default view --- */
[class*="col-"] {
  width: 100%; }

/* --- For desktop: Define 12 columns grid --- */
@media (min-width: 61.25em) {
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

/**
 * ==========================================================================
 * Author's custom styles
 * ==========================================================================
 */
body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: sans-serif; }

#form {
  margin: 2rem;
  padding: 0 1rem;
  background: #ccc url("../img/back.jpg") no-repeat left top;
  background-size: cover;
  border: 1px solid #bbb;
  color: #fff; }
  #form .form__title {
    display: block;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 1px 0 #000; }

#container {
  margin: 2rem; }

.resto {
  position: relative;
  background-color: #f2efe0;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem; }
  .resto__name {
    font-size: 1.5rem; }
  .resto__favourite {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer; }
    .resto__favourite:hover {
      color: gold; }
    .resto__favourite--true {
      color: #ff006a; }
    .resto__favourite--false {
      color: gray; }
  .resto__stars {
    font-size: 1.5rem;
    line-height: 1.5rem; }
  .resto__status {
    color: #bbb;
    font-style: italic;
    line-height: 1.5rem;
    vertical-align: top; }
  .resto__sortBy {
    border: 1px solid #ccc;
    margin-top: .4rem;
    padding: .2rem .4rem;
    font-size: .6rem;
    display: inline-block; }
    .resto__sortBy:hover {
      background-color: #333;
      color: white; }
    .resto__sortBy--selected {
      font-weight: bold; }
  .resto--open {
    background-color: #fff; }
  .resto--ahead {
    background-color: #fff3b7; }
  .resto--closed {
    background-color: #ffd5d1; }
  .resto {
    -webkit-animation: scale .3s ease-in-out;
    animation: scale .3s ease-in-out; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.stars {
  position: relative;
  display: inline-block;
  color: transparent; }
  .stars:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray; }
  .stars:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden; }
  .stars--0:after {
    width: 0; }
  .stars--10:after {
    width: 10%; }
  .stars--20:after {
    width: 20%; }
  .stars--30:after {
    width: 30%; }
  .stars--40:after {
    width: 40%; }
  .stars--50:after {
    width: 50%; }
  .stars--60:after {
    width: 60%; }
  .stars--70:after {
    width: 70%; }
  .stars--80:after {
    width: 80%; }
  .stars--90:after {
    width: 90%; }
  .stars--100:after {
    width: 100%; }

.center {
  text-align: center; }

.project-info {
  font-size: 0.8rem;
  padding: 2rem 4rem 0 4rem; }
